@charset "utf-8";
body { 
  background: #3f3f3f;
}
#upperSmallNav a {
  color: #000;
}
div#headerWrap ul > li > a {
  color: #000;
}
#faqWrap_hj {
  width: 100%;
  max-width: 70%;
  height: 100%;
  position: relative;
  top: 150px; 
  margin: 0 auto;
  padding-bottom: 25vh; 
}
#faqHeaderWrap_hj { 
  padding: 50px;
}
#faqHeaderWrap_hj h2 {
  width: 35%;
  font-size: 40px;
  border-bottom: 2px solid #31ffe7;
  color: #76ffef;
  text-shadow: 0px 0px 20px #31ffe7;
}
ul.faqUl_hj {
  width: 100%;
  padding: 30px 50px;
  background: #bfedff;
  text-indent: 20px;
  box-shadow: 0px 0px 50px #35c9ff;
}
li.group_hj {
  margin: 10px 0;
}
div.question_hj { 
  height: 70px;
  line-height: 70px;
  background: #2e5677;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
ul.sub_hj li { 
  height: 70px;
  margin-bottom: 2px;
  line-height: 70px;
  border: 1px solid #c8c8c8;
  background: #444444;
  font-size: 18px;
  color: #fff;
}








