@charset "UTF-8";
body { 
    background: #3f3f3f;
}
#upperSmallNav a {
    color: #000;
}
div#headerWrap ul > li > a {
    color: #000;
}
#reportWrap_hj { 
    width: 100%;
    max-width: 70%;
    height: 100%;
    position: relative;
    top: 150px; 
    margin: 0 auto;
    padding-bottom: 25vh; 
}
#headerWrap_hj {
    padding: 50px;
    
}
#headerWrap_hj h2 {
    width: 14%;
    font-size: 40px;
    border-bottom: 2px solid #000;
}

#reportSub_hj {
    padding-left: 50px;
    height: 700px;
}
#formWrap_hj {
    width: 70%;
    padding: 25px;
    margin-left: 25px;
    background: #d1d1d1
}
#formWrap_hj span {
    font-size: 18px;
    font-weight: bold;
}
#formWrap_hj .submit {
    width: 80px;
    height: 25px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}
#blockList_hj {
    margin: 25px 0 0 25px;
    padding: 25px;
    width: 70%;
    height: 80%;
    border: 1px solid #000;
    background: #fff;
}
#blockList_hj li {
    display: flex;
    margin: 5px;
    padding: 5px 0;
    border: 1px solid #b6b5b5;
}
#blockList_hj li span {
    display: block;
    width: 45%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#blockList_hj li .block {
    /* margin-left: 50px; */
    display: block;
    width: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
