@charset "utf-8";

.page2Wrap_sh{
    width: 100%;
    height: 100%;

}
.page2{
    width: 1000px;
    height: 80wh;
    margin: 0 auto;
    position:relative;

}
#pcNotice{
    width: 200px;
    height: 200px;
    position: absolute; 
    top:13vh;
    left:80px;

}
#pcNotice button{
    display:block;
    font-size: 30px;
    margin:0 auto;
    border: 0;
    background-color: white;
    

}
.on{
    color:lightblue;
    

}
#pcNotice p{
    width: 400px;
    text-align: center;
    margin-top: 20vh;
    font-size: 28px;
    
}
#PCBtnWrap_sh{
    width: 420px;
    height: 80px;
    border-radius: 10px;
    position:absolute;
    bottom: 30vh;
    left: 80px;

}
#PCBtnWrap_sh .PCBtn_sh{
    display: block;
    margin:0 auto;
    font-size: 27px;
    border:3px solid skyblue;
    background-color: skyblue;
    text-transform: uppercase;
   

}
#PCSliderWrap_sh{
    width: 420px;
    height: 420px;
    position:absolute;
    bottom:20vh;
    right:80px;
  

}
.see{
    z-index: 3;
    opacity:1;
}
.unsee{
    opacity:0;
}
#PCSliderWrap_sh .PCSlider1_sh{

}
.PCSlider1_sh{
    width: 420px;
    height: 420px;
    

}
.PCSlider1_sh img{
    height: 500px;
    transform:scale(1.2);
}
.PCSlider_sh a{
    width: 500px;
    height: 350px;
    display:block;
    text-indent: -9999px;
    position:absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid black;
}
.PCSlider1_sh li{
    position:absolute;
    top:0;
    left:86px;

}
.PCSlider_sh{
    width: 495px;
    height: 345px;
    background-size: cover;
    z-index:2;

}
.PCSlider1{
    background-image:url(../sh_images/pc5.png);

}
.PCSlider2{
    background-image:url(../sh_images/pc4.png);

}
.PCSlider3{
    background-image:url(../sh_images/pc3.png);

}
.PCSlider4{
    background-image:url(../sh_images/pc2.png);

}
.PCSlider5{
    background-image:url(../sh_images/pc1.png);

}
#mobileNotice{
    width: 200px;
    height: 200px;
    position: absolute; 
    top:13vh;
    left:280px;

}
#mobileNotice button{
    display:block;
    font-size: 30px;
    margin:0 auto;
    border: 0;
    background-color: white;
    text-transform: uppercase;

}
#MBtnWrap_sh{
    width: 420px;
    height: 80px;
    position:absolute;
    bottom: 30vh;
    left: 80px;

  
}
#MBtnWrap_sh .MBtn_sh{
    display: block;
    margin:0 auto;
    font-size: 27px;
    border:3px solid skyblue;
    background-color: skyblue;
    text-transform: uppercase;

}
#MSliderWrap_sh{
    width: 420px;
    height: 420px;
    position:absolute;
    bottom: 25vh;
    right: 70px;
}
#MSliderWrap_sh .MSlider_sh{

}
.MSlider_sh{
    width: 400px;
    height: 400px;
    
}
.MSlider_sh li{
    position:absolute;
    top:100px;
    left:125px;

}
.MSlider_sh img{
    height: 500px;
    transform:scale(1.2);
    
}
.MSlider a{
    width: 430px;
    height: 450px;
    display:block;
    text-indent: -9999px;
    position:absolute;
    bottom: 0;
    right: 0;
    border: 1px solid black;

}
.MSlider{
    width: 430px;
    height: 450px;
    background-size: cover;
    z-index:2;
}
.MSlider1{
    background-image: url(../sh_images/m5.png);

}
.MSlider2{
    background-image: url(../sh_images/m4.png);

}
.MSlider3{
    background-image: url(../sh_images/m3.png);

}
.MSlider4{
    background-image: url(../sh_images/m2.png);

}
.MSlider5{
    background-image: url(../sh_images/m1.png);

}